[user]
    name = "Roey Darwish Dror"
    email = "roey.ghost@gmail.com"

[core]
    sparseCheckout = true
    untrackedCache = true
    excludesfile = ~/.gitignore

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[commit]
    verbose = true

[fetch]
    prune = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[push]
    default = current
    followTags = true
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[status]
    showUntrackedFiles = no
